*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#root{
    display: flex;
    flex-direction: column;
}
main{
    min-height: 80vh;
    background: #f7f7ee;
    padding: 4em 8em;
}
